<link rel="stylesheet" href="/css/category.css">

<div class="main-container">
  <h2 class="yanone">Classifieds</h2>
  <% @categories.each do |category| %>
    <% category.classifieds.each do |classified| %>
      <p class="title-row">
        <span class="favorite"></span>
        <span class="date"><%= classified.date_posted.strftime('%b %d') %></span>
        <a href='/classifieds/<%= classified.id %>'><span class="title"><%= classified.title %></span></a>
        <span class="price">$<%= classified.price %></span>
        <span class="location">(<%= classified.location%>)</span>
        <span class="category"><%= classified.category.name %></span>
      </p>
    <% end %>
  <% end %>
</div>
