<div class="main-container">
  <div class="title-row">
    <div class="date"><%= @classified.date_posted.strftime('%b %d') %>
      <h2>
          <span class="price">$<%= @classified.price %></span>
          <span class="title"><%= @classified.title %></span>
          <span class="city">(<%= @classified.location %>)</span>
          <span class="reply">Reply</span>
      </h2>
    </div>
  </div>
  <div id="description">
    <p class="classifiedDescription"><%= @classified.description %></p>
  </div>
  <div id="thumbnails" class="row">
    <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-4">
      <% @classified.images.each do |image| %>
        <li><img src="<%= image.image.url %>"></li>
      <% end %>
    </ul>
  </div>
  <div id="classifiedSubhead">
    <p class="condition"><strong>Condition: <%= @classified.condition %></strong></p>
  </div>
</div>

