<h2 class="lg-header yanone">The Beer Board</h2>
  <div class="posts">
    <% @posts.each do |post| %>
      <article id="<%= post.id %>">
      <div class="small-12 medium-12 large-12 columns title-row">
        <div class="title">
          <a href="/posts/<%= post.id %>"><%= post.title %></a>
          <span class="username">
          <a href="/users/<%= post.user.id %>">(<%= post.user.username %>)</a>
          </span>
        </div>
      </div>
      <div class="small-12 medium-12 large-12 columns stats-row">
        <span class="stat upvotes"><a href="/post/<%= post.id %>/votes" class="upvote"><%= post.upvotes %> upvotes</a></span>
        <span class="stat downvotes"><a href="/post/<%= post.id %>" class="downvote"><%= post.downvotes %> downvotes</a></span>
        <span class="stat comments"><%= post.comments.count %> comments </span>
        <span class="stat posted-at">3hrs ago</span>
        <span class="stat post-comment"><a href="/post/<%= post.id %>" class="reply-to-post">Reply to Post</a></span>
      </div>
      <% if @comments %>
        <% @comments.each do |comment| %>
            <p><strong><a href="/users/<% comment.user.id %>"><%= comment.user.username %></a></strong></p>
            <p>3hrs ago</p>
            <p><%= comment.text %></p>
            <div class="user-actions">
              <span><a href="#">reply</a></span>
              <span><a href="#">upvote</a></span>
              <span><a href="#">downvote</a></span>
            </div>
          <% if @replies %>
            <% @replies.each do |reply| %>
              <p><strong><a href="/users/<% comment.user.id %>"><%= reply.user.username %></a></strong></p>
              <p>3hrs ago</p>
              <p><%= reply.text %></p>
              <div class="user-actions">
                <span><a href="#">reply</a></span>
                <span><a href="#">upvote</a></span>
                <span><a href="#">downvote</a></span>
              </div>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</article>
</div>
