<h2 class="lg-header yanone">The Beer Board</h2>
  <div class="posts">
    <% @posts.each do |post| %>
      <article id="<%= post.id %>">
        <div class="small-12 medium-12 large-12 columns title-row">
          <div class="title">
            <a href="/posts/<%= post.id %>"><%= post.title %></a>
          </div>
        </div>
        <div class="small-12 medium-12 large-12 columns stats-row">
          <span class="stat upvotes"><a href="#"><i class="fa fa-caret-square-o-up"></i></a><span class="cheers"> <%= post.upvotes %> Cheers </span></span>
          <span class="stat downvotes"><a href="#"><i class="fa fa-caret-square-o-down"></i></a><span class="partyFails"> <%= post.downvotes %> Party Fails </span></span>
          <span class="stat posted-at"> 3hrs ago </span>
        </div>
      <% end %>
      </article>
    </div>
</div>
