<h2 class="lg-header yanone">The Beer Board</h2>
  <div class="posts">
    <% @posts.each do |post| %>
      <div class="small-12 medium-12 large-12 columns title-row">
        <div class="title">
          <a href="/posts/<%= post.id %>"><%= post.title %></a>
          <scan class="username">
          <a href="/users/<%= post.user.id %>">(<%= post.user.username %>)</a>
          </scan>
        </div>
      </div>
      <div class="small-12 medium-12 large-12 columns stats-row">
        <scan class="stat upvotes"><%= post.upvotes %> upvotes</scan>
        <scan class="stat downvotes"><%= post.downvotes %> downvotes</scan>
        <scan class="stat comments"><%= post.comments.count %> comments</scan>
        <scan class="stat posted-at">3hrs ago</scan>
      </div>
      <% if @comments %>
        <% @comments.each do |comment| %>
            <p><strong><a href="/users/<% comment.user.id %>"><%= comment.user.username %></a></strong></p>
            <p>3hrs ago</p>
            <p><%= comment.text %></p>
            <div class="user-actions">
              <scan><a href="#">reply</a></scan>
              <scan><a href="#">upvote</a></scan>
              <scan><a href="#">downvote</a></scan>
            </div>
          <% if @replies %>
            <% @replies.each do |reply| %>
              <p><strong><a href="/users/<% comment.user.id %>"><%= reply.user.username %></a></strong></p>
              <p>3hrs ago</p>
              <p><%= reply.text %></p>
              <div class="user-actions">
                <scan><a href="#">reply</a></scan>
                <scan><a href="#">upvote</a></scan>
                <scan><a href="#">downvote</a></scan>
              </div>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
