<div class="main-container">
  <div class="post-title">
      <span><a href="/posts/<%= @post.id %>"><%= @post.title %></a></span>
      <span><a href="/users/<%= @post.user.id %>"><%= @post.user.username %></a></span>
  </div>
  <div class="post-stats">
      <span class="upvotes"><%= @post.upvotes %> upvotes</span>
      <span class="downvotes"><%= @post.downvotes %> downvotes</span>
      <span class="comments"><%= @post.comments.count %> comments</span>
      <span class="posted-at">3hrs ago</span>
  </div>
  <div class="small-12 medium-12 large-12 columns comments">
    <% if @comments %>
      <% @comments.each do |comment| %>
          <p><strong><a href="/users/<% comment.user.id %>"><%= comment.user.username %></a></strong></p>
          <p>3hrs ago</p>
          <p class="small-12 medium-12 large-12 columns"><%= comment.text %></p>
          <ul class="user-actions">
            <li><a href="#">reply</a></li>
            <li><a href="#">upvote</a></li>
            <li><a href="#">downvote</a></li>
          </ul>
        <% if comment.replies %>
          <% comment.replies.each do |reply| %>
            <p><strong><a href="/users/<% comment.user.id %>"><%= reply.user.username %></a></strong></p>
            <p>3hrs ago</p>
            <p><%= reply.text %></p>
            <ul class="user-actions">
              <li><a href="#">reply</a></li>
              <li><a href="#">upvote</a></li>
              <li><a href="#">downvote</a></li>
            </ul>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
