<div class="main-container">
  <div class="post-title">
      <h2><%= @post.title %></h2>
      <span><a href="/users/<%= @post.user.id %>"><%= @post.user.username %></a></span>
  </div>
  <article id="<%= @post.id %>">
    <div class="post-stats">
        <span class="stat upvotes"><a href="#"><i class="fa fa-caret-square-o-up"></i></a><span class="cheers"> <%= @post.upvotes %> Cheers </span></span>
        <span class="stat downvotes"><a href="#" ><i class="fa fa-caret-square-o-down"></i></a><span class="partyFails"> <%= @post.downvotes %> Party Fails </span></span>
        <span class="stat comments"> <%= @post.comments.count %> comments</span>
        <span class="stat time-since-posted"> 3 hrs ago</span>
        <span class="stat post-comment"><a href="#"> Reply to Post</a></span>
    </div>
    <div id="comments" class="small-12 medium-12 large-12 columns">
      <% if @comments %>
        <% @comments.each do |comment| %>
        <p><strong><a href="/users/<% comment.user_id %>"><%= comment.user.username %></a></strong><span class="stat time-since-posted">3 hrs ago</p>
<p class="small-12 medium-12 large-12 columns"><%= comment.text %></p>
<ul class="user-actions">
  <li><a href="#" class="upvotes"><i class="fa fa-caret-square-o-up"></i></a> <%= comment.upvotes %> Cheers</li>
  <li><a href="#" class="downvotes"><i class="fa fa-caret-square-o-down"></i></a> <%= comment.downvotes %> Party Fails</li>
</ul>
        <% end %>
      <% end %>
    </div>
  </article>
</div>